
.navbar {
	background-color: #E0F8F7;
	/*margin-bottom:0px;*/
}

.navbar-brand {
	font-size: 2em;
	font-weight: bold;
}

.smallMenu {
	text-align: center;
	border-width: 5px;
	border-color: black;
	font-weight: bold;
}
#myNavbar1 {
	background-color: orange;
	margin-bottom: 0px;
	margin-top: 0px;
	border: 2px solid;
}


button {
	font-weight: bold;
	color: black;
}

hr {
	border-width: 2px;
	border-color: black;
	margin: auto;
}

div h1 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
	padding-bottom: 20px;
}

.chicken {
	background-color: #E0F8F7;
	/*height: 1000px;*/
	margin-bottom: 10px;
}

.chicken h3 {
	text-align: center;
	padding-top: 10px;
}

.beef {
	background-color: #E0F8F7;
	margin-bottom: 10px;
}

.beef h3 {
	text-align: center;
	padding-top:10px;
}

.sushi {
	background-color: #E0F8F7;
	margin-bottom: 10px;
}

.sushi h3 {
	text-align: center;
	padding-top: 10px;
}